.footer-main{
    background-color: rgba(0, 0, 0, 0.95);
    border-top: 1px solid rgb(81, 81, 81);
    font-size: 0.9em;
}
.footer-container{
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 4em;
}
.footer-head{
    color: var(--golden);
}
.footer-info{
    max-width: 500px;
}
.footer-media{
    width: 300px;
}
.footer-item{
    height: 2em;
    width: 2em;
    cursor: pointer;
}
.footer-item:hover{
    position: relative;
    top: -0.25em;
}
.footer-develop{
    padding-block: 1em;
    background-color: black;
    border-top: 0.1px dashed rgb(83, 83, 83);
}
@media screen and (max-width:786px) {
    .footer-container{
        flex-direction: column;
        padding: 2em;
    }
    .footer-develop{
        padding-block:2em 6em;
    }
}