.project{
    background-color: var(--background);
}
.project-card{
    display: flex;
    background-color: var(--background);
    padding: 1em 5em;
    margin-inline: 3em;
}
.project-image{
    aspect-ratio: 3/2;
    width: min(100%,25em);
    display: flex;
    flex-direction: row-reverse;
    align-items: end;
    border-radius: 10px;
}
.project-image{
    background: linear-gradient(45deg,rgb(0, 74, 233),rgb(162, 255, 0));
}
.project-image:hover .project-image-inside{
    width: 90%;
    height: 95%;
}
.project-info-desc{
    text-align: justify;
}
.project-image-inside{  
    width: 85%;
    height: 85%;
    border-radius: 10px;
}
.project-item{
    display: flex;
    justify-content: center;
}
.project-card>section{
    width: min(100%,50em);
}
.project-info{
    color: var(--text);
    padding: 0em;
    font-size: 0.8em;
    display: flex;
    flex-direction: column; 
    justify-content: center;
}
.project-info div{
    padding-block: 0.15em;
}
.project-info-head{
    color: var(--golden);
} 

.project-link-button div{
    padding: 0.5em 2em;
    cursor: pointer;
    border: 1px solid rgba(255, 185, 185, 0.284);
}
.project-link-button div:nth-child(odd){
    background-color: orangered;
    border: 0px;
}
.project-link-button div:hover{
    color: var(--text);
    background-color: rgba(112, 31, 7, 0.5);
    backdrop-filter: blur(10px);
}
.project-tech-title{
    background-color: transparent !important;
}
.project-tech div{
    height: 10px;
    display: flex;
    align-items: center;
    padding-inline: 1em;
    margin-block: 0.25em;
    margin-inline: 0.2em;
    border: 1px solid rgba(255, 68, 0, 0.236);
}
.project-view-button{
    background-color: rgba(0, 0, 0, 0.75);
    padding: 0.5em 3em;
    border-radius: 10em;
    color: white;
    border: none;
    border: 1px solid rgb(150, 97, 0);
}
.project-view-button:hover{
    background-color: rgba(255, 68, 0, 0.5);
}
@media screen and (max-width:998px){
    .project-card{
        flex-direction: column;
        padding-inline: 1.5em; 
        align-items: center;
        margin: 1em;
    }
    .project-info{
        padding-inline: 0px;
        text-align: center;
        padding-block: 2.5em;

    }
    .project-link-button div{
        flex: 1;
        text-align: center;
    }
}