
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.3s ease;
}


:root{
    --primary-color:#5142c2;
    --secondary-color: #998fe5;
    --accent-color: #6150e2;
    --golden:rgb(254, 92, 33);
    --text:#ffffff;
    --nav:grey;
    --background:#000000;
}
[data-theme="dark"]{
    --background:rgb(255, 254, 250);
    --text:#000000;
}

